/Fonte/MaoNaRoda/.vs/MaoNaRoda/DesignTimeBuild
/Fonte/MaoNaRoda/.vs/MaoNaRoda/FileContentIndex
/Fonte/MaoNaRoda/.vs/MaoNaRoda/v17
/Fonte/MaoNaRoda/.vs/ProjectEvaluation
/Fonte/MaoNaRoda/MaoNaRoda/obj/Debug/net6.0
/Fonte/MaoNaRoda/MaoNaRoda/obj
/Fonte/MaoNaRoda/MaoNaRoda/MaoNaRoda.csproj.user
/Fonte/MaoNaRoda/MaoNaRoda/Properties/PublishProfiles
/Fonte/MaoNaRoda/MaoNaRoda/bin/Release
